DartConfiguration.tcl

# netbeans project
nbproject

# makefiles
[mM]akefile

# cmake temporaries/working files
CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
cmake_install.cmake
compile_commands.json

# vim temporary files
*.swp
*.swn
*.swo

# executables
regression/memory/*test_avx*
regression/memory/*test_sse*

regression/numeric/*test_avx*
regression/numeric/*test_sse*

sandbox/main_[cs]_sse*
sandbox/main_[cs]_avx*
sandbox/test_print_sse*
sandbox/test_print_avx*

# testing temporaries
regression/memory/Testing/
